.productCard:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.071);
}

@media screen and (min-width: 1500px) {
  .productCol {
    width: 20% !important;
  }
}

.priceMonth {
  display: inline-block;
  background-color: red;
  padding: 1px 8px;
  border-radius: 8px;
  color: white;
}

.title {
  font-size: 18px;
}

.productCard .btn {
  display: block;
}
